@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    --description-color: rgb(106, 110, 143);
    --dark-description: #424875;
    --title-color: #040f73;
    --button-color: #ff5b2e;
    --line-color: #fe5a2d;
    --card-background-color: #ffffff;
    --pet-icon-color1: #90ccff;
    --pet-icon-color2: rgb(250, 191, 62);
    --pet-icon-color3: rgb(91, 214, 226);
    --footer-title-color: #040f73;
    --element-with-bg-color: #fff6ed;
    --carousel-food-background-slide: rgb(251, 241, 231);
    --carousel-food-background-btn: rgb(216, 195, 175);
    --carousel-food-btn-arrow: #040f73;
    --carousel-pets-box-arrow: #263193;
    --questions-info-box-icon-fill: rgb(255, 255, 255);
    --questions-info-box-placeholder-geo: rgb(255, 91, 46);
    --questions-info-box-placeholder-time: rgb(144, 204, 255);
    --questions-info-box-placeholder-phone: rgb(250, 191, 62);
    --questions-date-background: rgb(251, 241, 231);
    --questions-date-background-current: rgb(250, 191, 62);
    --questions-date-background-weekend: rgb(255, 91, 46);
    --questions-date-font: #424875;
    --latest_articles_modal_background: rgb(251, 241, 231);
    --latest_articles_modal_text: #424875;
}

body {
    background-color: #fff6ed;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}