.services-pet {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.services-item {
    margin-top: 15px;
    margin-bottom: 45px;

}


.services-blocktitle {
    font-size: 42px;
    font-family: Rubik, sans-serif;
    color: #040F73;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.services-info {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    color: #424875;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    font-stretch: 100% ;
    line-height: 28.5px;
}


.services-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding-left: 15px;
    padding-right: 15px;

}

*/ .item-image {
    width: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: inherit;
}
/* блок карусели */
.blocktitle {
    font-size: 24px;
    font-family: Rubik, sans-serif;
    color: #040F73;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;

}

.item-info {
    color: #6A6E8F;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    margin-bottom: 15px;
    margin-top: 15px;

}

.item-price {
    color: #FF5B2E;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: left;
    /* margin-top: auto;
    margin-bottom: auto; */


}