.main__articles_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.main__articles_modal_content {
    background-color: var(--latest_articles_modal_background);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    color: var(--latest_articles_modal_text);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.main__articles_modal_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.main__articles_modal_close:hover,
.main__articles_modal_close:focus {
    color: var(--latest_articles_modal_text);
    text-decoration: none;
    cursor: pointer;
}