.get-start {
  min-width: 320px;
  min-height: 1131;
  padding: 60px 0;
}

.get-start__container {
  width: 100%;
  padding: 0 10px;
}

.get-start__clock {
  display: flex;
}

.description__clock {
  color: var(--title-color);
  font-size: 19px;
  font-family: "Rubik", sans-serif;
}

.clock {
  font-size: large;
  color: rgb(3, 139, 44);
}

.container__text-block {
  font-size: 14px;
  min-width: 272px;
  padding: 0 15px;
}

.get-start__title {
  color: var(--title-color);
  font-size: 28px;
  font-family: "Rubik", sans-serif;
}

.get-start__text {
  color: var(--dark-description);
  font-family: "Poppins", sans-serif;
  font-size: 19px;
}

.get-start__list {
  color: var(--description-color);
  display: inline;
  font-size: 17px;
}

.logo-heard__text-list__text {
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
}

.logo-heart {
  display: inline-block;
  width: 10px;
}

.care-pet__text {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
}

.icon__text {
  color: var(--line-color);
}

.colored-text {
  color: var(--line-color);
}

.dark-text {
  color: var(--dark-description);
}

.products-carousel {
  max-width: 570px;
  max-height: 690px;
  padding: 0 15px;
  margin: auto;
}

@media (min-width: 750px) {
  .get-start>.get-start__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .get-start {
    display: flex;
    justify-content: center;
  }

  .get-start__container {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: 691px;
  }

  .container__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 691px;
  }

  .get-start__title {
    font-size: 42px;
    width: 570px;
    height: 54px;
  }

  .logo-heard__text-list__text {
    font-size: 17px;
  }

  .get-start__text {
    font-size: 19px;
    max-width: 570px;
    max-height: 54px;
  }

  .care-pet__text {
    font-size: 15px;
  }

  .icon__text {
    color: var(--line-color);
  }

  .colored-text {
    color: var(--line-color);
  }

  .logo-heart {
    width: 13px;
    margin-right: 5px;
    display: inline-block;
  }
}