.our__clients {
    font-family: Rubik, sans-serif;
    color: rgb(4, 15, 115);
    padding: 30px 0 60px 0;
    display: block;
    font-size: 17px;
    min-width: 320px;
    text-align: center;

}


.our__clients-about-us {
    font-size: 38px;
    margin-bottom: 20px;
}

.clients {
    font-size: 22px;
    font-family: Poppins, sans-serif;
    color: rgb(66, 72, 117);
    margin-bottom: 80px;
}

.our__clients-pets {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__pets {
    float: left;
    width: 450px;
    height: 500px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;

}

.my__pets {
    width: 100%;
    width: 120px;
    margin: auto;
}

.pets__name {
    margin-bottom: 10px;
    font-size: 26px;
}

.divider {
    border: 2px solid rgb(255, 91, 46);
    width: 50px;
    margin: 15px auto;
    background-color: rgb(255, 91, 46);

}

.pets__info {
    color: rgb(106, 110, 143);
    font-size: 18px;
    margin: 0 60px;
    padding: 20px;
    line-height: 25.5px;
    font-family: Poppins, sans-serif;
}

.pets__date {
    font-size: 14px;
    color: rgb(255, 91, 46);
    font-weight: 600;
    margin-bottom: 60px;
}