.header {
    background-image: url(../img/cat-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__container {
    padding-top: 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px 0;
}

.header__container ul {
    display: flex;
}

.header__contact-icons-active {
    display: none;
}

.active-menu-logo {
    display: none;
}

.header__container .header__navigation a {
    color: var(--description-color);
    position: relative;
}

.header__container .header__navigation a:hover {
    color: var(--button-color);
}

.header__container .header__navigation ul a:hover::before {
    content: "";
    background-color: var(--button-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 30px;
    height: 2px;
}

.header__container-logo {
    width: 150px;
}

.navigation__item {
    margin: 0 15px;
}

.header__menu-buttons {
    display: none;
}

.contact-icons-container {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
    transition: 0.3s;
}

.menu-close {
    display: none;
}

.contact-icons-container:hover {
    background-color: #fa3600;
}

@media screen and (max-width: 950px){
    .header {
        background-position: 40.94% 40.22;
    }

    .header__container {
        width: 100%;
    }

    .header__navigation {
        display: none;
    }

    .header__navigation.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: var(--element-with-bg-color);
        height: 100vh;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 500;
    }

    .header__navigation.active ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 20px;
        text-align: center;
        padding-left: 0;
        margin-bottom: 30px;
    }

    .header__navigation.active ul a:hover::before {
        background-color: inherit;
    }

    .header__navigation.active .active-menu-logo {
        display: flex;
        width: 100%;
        justify-content: start;
    }

    .header__navigation.active .active-logo {
        max-width: 170px;
        margin: 20px 0 20px 10px;
    }

    .header__navigation.active .header__contact-icons-active {
        display: flex;
    }

    .header__navigation.active .contact-icons-container {
        display: flex;
    }

    .header__menu-buttons {
        display: flex;
        width: 45px;
    }

    .menu-close {
        display: block;
        position: absolute; 
        right: 30px;
        top: 20px;
        width: 20px;
        height: 20px;
    }

    .header__container-logo img {
        max-width: 150px;
    }

    .header__container-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    .header__container-logo .active {
        display: none;
    }

    .contact-icons-container {
        display: none;
    }

    .menu-button {
        width: 30px;
        border: none;
        background-color: unset;
    }
} 