.get-start__container {
  display: flex;
  min-width: 1500px;
  min-height: 811px;
  padding: 60px 0;
}

.container__text-block {
  max-width: 570px;
  max-height: 691px;
  margin: auto;
}

.get-start__title {
  color: #040f73;
  font-size: 42px;
  font-family: "Rubik", sans-serif;
  width: 570px;
  height: 54px;
}

.logo-heard__text-list__text {
  color: #6a6e8f;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
}

.get-start__text {
  color: #414774;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  max-width: 570px;
  max-height: 54px;
  margin-top: 20px;
}

.get-start__list {
  width: 570px;
  height: 191px;
  margin-top: 20px;
}

.care-pet__text {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}

.dark-text {
  color: #424875;
}

.get-start__img {
  max-width: 570px;
  max-height: 691px;
  margin: auto;
}

.img-rabbit {
  max-width: 550px;
  max-height: 691px;
  margin: auto;
}

.icon__text {
  color: #ff5b2e;
}

.colored-text {
  color: #ff5b2e;
}

.logo-heart {
  width: 15px;
  display: inline-block;
}