.what-we-make {
    display: grid;
    grid-template-columns:1fr 1fr;
    max-width: 980px;
}

@media (min-width: 0) {
    .what-we-make {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }
}

@media (min-width: 750px) {
    .what-we-make {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}


.whitedog-img {
    width: 100%;
    padding: 0 15px;

}


.h2-what-we-make {

    width: 80%;
    font-family: Rubik, sans-serif;
    font-size: 35px;
    color: var(--title-color);
    text-align: justify;

}

.description-what-we-make {
    width: 80%;
    font-family: Poppins, sans-serif;
    font-size: 19px;
    color: var(--dark-description);
    font-weight: bold;
    text-align: justify;
    margin-top: 25px;
}

.description-low1 {
    width: 80%;
    font-family: Poppins, sans-serif;
    font-size: 19px;
    color: var(--description-color);
    text-align: justify;
    margin-top: 25px;

}

.description-low2 {
    width: 80%;
    font-family: Poppins, sans-serif;
    font-size: 19px;
    color: var(--description-color);
    text-align: justify;
    margin-top: 25px;

}

.button_what-we-make {
    width: 170px;
    height: 50px;
    background-color: var(--line-color);
    border-radius: 30px;
    text-align: center;
    margin-top: 150px;
    padding-top: 13px;
    transition: 0.3s;
}


.on_button-link {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--card-background-color);
    text-align: center;
}

.button_what-we-make:hover {
    background-color: var(--description-color);
    color: var(--card-background-color);
    cursor: pointer;

}