.courusel__pets {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 7px;
}

.pets-box {
    width: 347px;
    height: 310px;
    background-color: var(--card-backgtound);
    margin-left: 20px;
    border-radius: 40px;
    padding-top: 10px;


}

.logo-pet-cat {
    width: 70px;
    height: 70px;
    background-color: #90ccff;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-radius: 80px;
    border: 1px;
    margin-left: 20px;


}

.logo-pet-dog {
    width: 70px;
    height: 70px;
    background-color: var(--line-color);
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-radius: 80px;
    border: 1px;
    margin-left: 20px;
}

.logo-pet-rabbit {
    width: 70px;
    height: 70px;
    background-color: rgb(250, 191, 62);
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-radius: 80px;
    border: 1px;
    margin-left: 20px;
}

.logo-pet-fish {
    width: 70px;
    height: 70px;
    background-color: rgb(91, 214, 226);
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-radius: 80px;
    border: 1px;
    margin-left: 20px;
}

.logo-pet-turtle {
    width: 70px;
    height: 70px;
    background-color: var(--line-color);
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-radius: 80px;
    border: 1px;
    margin-left: 20px;
}

.logo-pet-bird {
    width: 70px;
    height: 70px;
    background-color: rgb(250, 191, 62);
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-radius: 80px;
    border: 1px;
    margin-left: 20px;
}

.pets-box-names {
    font-family: Rubik, sans-serif;
    color: var(--title-color);
    font-size: 23px;
    width: 86px;
    height: 27px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.line {
    width: 60px;
    height: 3px;
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: var(--line-color);
    border: 0;
}

.pets-box-description {
    width: 289px;
    height: 48px;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: var(--description-color);
}


.pets-box-learn {
    width: 104px;
    height: 15px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: var(--title-color);
    margin-left: 10px;
    margin-bottom: 15px;
}

.pets-box-learn1 {
    width: 104px;
    height: 15px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: var(--title-color);

}

.right-arrow {
    padding-left: 10px;
}