.header {
    background-image: url(../img/cat-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__container {
    padding-top: 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px 0;

}

.header__container ul {
    display: flex;
}

.header__container .header__navigation a {
    color: var(--description-color);
    position: relative;
}

.header__container .header__navigation a:hover {
    color: var(--button-color);
}

.header__container .header__navigation a:hover::before {
    content: "";
    background-color: var(--button-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 30px;
    height: 2px;
}

.header__container-logo {
    width: 150px;
}

.navigation__item {
    margin: 0 15px;
}

.header__menu-buttons {
    display: none;
}

.contact-icons-container {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
    transition: 0.3s;
}

.contact-icons-container:hover {
    background-color: #fa3600;
}

@media screen and (max-width: 767px){
    .header {
        background-position: 40.94% 40.22;
    }

    .header__container {
        width: 100%;
    }

    .header__container ul {
        display: none;
    }

    .header__menu-buttons {
        display: flex;
    }

    .header__container-logo img {
        max-width: 150px;
    }

    .header__container-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    .contact-icons-container {
        display: none;
    }

    .menu-button {
        width: 30px;
        border: none;
        background-color: unset;
    }
} 