.get-start {
  padding: 60px 0px 60px 0px;
  width: 1520px;
  height: 811px;
  display: flex;
}

.get-start__container {
  width: 1200px;
  height: 691px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.container__text-block {
  width: 570px;
  height: 691px;
  padding: 0px 15px;
}

.get-start__title {
  color: #040f73;
  font-size: 42px;
  font-family: "Rubik", sans-serif;
  width: 570px;
  height: 54px;
}

.get-start__text {
  color: #424875;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  max-width: 570px;
  max-height: 54px;
}

.logo-heard__text-list__text {
  color: #6a6e8f;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  padding-top: 15px;
}

.logo-heart {
  width: 15px;
}

.care-pet__text {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  padding-bottom: 70px;
  margin: 20px 0px 0px;
}

.icon__text {
  color: #ff5b2e;
}

.dark-text {
  color: #424875;
}

.colored-text {
  color: #ff5b2e;
}

.img-rabbit {
  width: 570px;
  height: 691px;
  padding: 0px 15px;
}